# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite3

# Logs
*.log
